# Services
IDENTITY_SERVICE_PORT=3002
IDENTITY_SERVICE_TEST_PORT=3003

# Frontend
WEB_PORT=3004

# Databases
IDENTITY_DB_PORT=5432
IDENTITY_DB_TEST_PORT=5433

# Rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_UI_PORT=15673

# Mail
MAIL_SMTP_PORT=1025
MAIL_UI_PORT=8025

# Minio
MINIO_API_PORT=9000
MINIO_UI_PORT=9001
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin
MINIO_BUCKET=identity-avatars